html {
   
	 font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
	margin: 0;
  font-size: 14px;
  font-family: 'Karla', sans-serif;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #333;
}

a img  {
  padding: 50px;
  height: 300px;
  margin-top: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Montserrat';
  letter-spacing: .2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  line-height: 100px;
  font-size: 15px;
  z-index: 1000;
}

.illustration {
  background-color: #4C5364;
  width: 100%;
  padding-bottom: 50px;
  text-align: right;
}

.about {
/*  background-color: #D57878;*/
  background-color: #383737;
  height: 1020px;
  margin-top:-30px;
}

.code {
  border-radius: 3px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background:#ccc;
  height: 700px;
  font-family:'Courier New';
  text-align:left;
  font-size:13px;
  color: lime;
}

.console {
  width:670px;
  padding: 40px;
  height: 620px;
  margin:0 auto;
  background: black;
}

span.answer {
  color:limegreen;
}

.skills {
  background-color: #ddd;
  height: auto;
}

.tagline {
text-align: center;
font-family: Open Sans;
font-weight: 700;
padding-bottom: 50px;
text-transform: uppercase;
letter-spacing: 0.3em;
}


p.about-tag {
  color: #d4d4d4;
}
